/* Just Some CSS */
* {
	color: red;
}
div {margin: 10px;} div div {margin: 10px;padding: 10px;}
div + div {
	margin: 10px;
	padding: 10px;
}

div ~ div {
	margin: 10px;
	padding: 10px;
}

div:first-child {
	margin: 10px;
	padding: 10px;
}

div::after {
	margin: 10px;
	padding: 10px;
}

input[type=text] {
	some: style;
}

input[type="text"] {
	some: style;
}

input type=text {
	some: style;
}

p:lang(en) {
	color: green;
}

p:nth-child(2) {
	color: green;
}
p:after {
	color: green;
}
p::before {
	color: green;
}
/* Media Query  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	body {
		background-color: #909;
	}
	#main {
		margin-top: -1px;
	}
}
/* @page {
	size:8.5in 11in;
	margin: 2cm;
} */